.hello 
    h1 Hallo allemaal 
    p Dit is een pug file
    form
        p 
            | Postcode: 
            input(name='postcode', value='', type='text')
            | Number: 
            input(name='house_number', value='', type='number')
            p Resulting address
